---
title: İstihdam doğrulama i9 doğrulama
description: Göçmenlik Reform ve Kontrol Yasası ABD'li işverenlerin yeni işe alınan personelin İstihdam edilmeye uygunluk durumunu doğrulamasını gereklidir.
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: HT
ms.contentlocale: tr-TR
ms.lasthandoff: 01/31/2022
ms.locfileid: "8065693"
---
# <a name="employment-verification-i9-verification"></a>İstihdam doğrulama i9 doğrulama

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

Göçmenlik Reform ve Kontrol Yasası ABD'li işverenlerin yeni işe alınan personelin İstihdam edilmeye uygunluk durumunu doğrulamasını gereklidir. Bu yordam, I-9 doğrulaması için gerekli olan belgeleri kaydetme adımlarını gösterecektir. Bu yordam için USMF şirketini kullanın.

1. **İnsan kaynakları \> Çalışanlar \> Çalışanlar**'a gidin.
2. Kayıtları bulmak için Hızlı Filtre'yi kullanın. Örneğin, **İsim** alanı üzerinde **Vince** değerini girerek filtreleme yapın.
3. Çalışanı seçin. Örneğin, **Vince Prado** seçeneğini belirleyin.
4. **Kişisel bilgiler** hızlı sekmesini seçin.
5. **Kimlik numaraları**'nı seçin.
6. **Yeni**'yi seçin.
7. Kaydettiğiniz kimlik tipini seçin. Örneğin, **Pasaport**'u seçin.
8. **Numara** alanına bir değer girin.
9. **Birincil** alanında **Evet**'i seçin.
10. **Açıklama** alanına kimlik kaydının kısa bir açıklamasını girin.
11. **Veren kurum** alanında, çalışan için kimlik türünü çalışana veren kurumu seçin. Örneğin, **Devlet**'i seçin.
12. Kurumun, kimlik türünü çalışana verdiği tarihi girin. Örneğin, **15/02/2011** (15 Şubat 2011) yazın.
13. Kimlik türünün tarihinin ne zaman dolduğunu girin. Örneğin, **15/2/2021** (15 Şubat 2021) yazın.
14. **Kaydet**'i seçin.
15. Sayfayı kapatın.
16. **İstihdam** sekmesini seçin.
17. **I-9**'u seçin.
18. **Yeni**'yi seçin.
19. **İşe uygunluk** alanında, bir seçenek seçin.

    Personel bir ABD vatandaşı veya ABD uyruklu değilse, çalışanın yabancı yerleşme veya kabul numarasını girin.

20. **GroupListA** seçeneğini işaretleyin.

    Seçtiğiniz liste çalışanın ne tür kimlik sağladığına bağlıdır. Bir çalışan, B Listesi ve C Listesinden alınan belgeden tek bir belge sağlamalıdır. Örneğin, çalışan bir pasaport sağladıysa Liste A'yı seçebilirsiniz. Ancak, çalışan yalnızca bir ehliyet veya sosyal güvenlik kartını sağladıysa, B Listesi ve C Listesini seçmeniz gerekir.

21. **I-9 belge türü** alanında, çalışanın sağladığı belge tipini seçin.
22. **Belge numarası** alanına bir değer girin veya buradan bir değer seçin.
23. **Kaydet**'i seçin.

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
