--- 
title: "Form I-9'u kullanarak istihdamı doğrulama"
description: "Göçmenlik Reform ve Kontrol Yasası ABD'li işverenlerin yeni işe alınan personelin İstihdam edilmeye uygunluk durumunu doğrulamasını gereklidir."
author: ShielaSogge
manager: AnnBe
ms.date: 06/23/2016
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
audience: Application User
ms.reviewer: rschloma
ms.search.scope: Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: AX 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 7e0a5d044133b917a3eb9386773205218e5c1b40
ms.openlocfilehash: 0841cd664a842880f24c30090a33d846b0c08ac4
ms.contentlocale: tr-tr
ms.lasthandoff: 09/29/2017

---
# <a name="employment-verification-using-form-i-9"></a>Form I-9'u kullanarak istihdamı doğrulama

[!include[task guide banner](../../../includes/task-guide-banner.md)]

Göçmenlik Reform ve Kontrol Yasası ABD'li işverenlerin yeni işe alınan personelin İstihdam edilmeye uygunluk durumunu doğrulamasını gereklidir. Bu yordam, I-9 doğrulaması için gerekli olan belgeleri kaydetme adımlarını gösterecektir. Bu yordam için USMF şirketini kullanın.

1. İnsan kaynakları > Çalışanlar > Çalışanlar'a gidin.
2. Kayıtları bulmak için Hızlı Filtre'yi kullanın. Örneğin, İsim alanı üzerinde 'Vince' değerini girerek filtreleme yapın.
3. Çalışanı seçin. Örnek: Vince Prado
4. Kişisel bilgiler Hızlı Sekmesini genişletin.
5. Kimlik numaraları'na tıklayın.
6. Yeni'yi tıklatın.
7. Kaydettiğiniz kimlik tipini seçin. Örnek: Pasaport
8. Numara alanına bir değer girin.
9. Birincil alanında 'Evet'i seçin.
10. Açıklama alanına kimlik kaydının kısa bir açıklamasını girin.
11. Veren kurumda, çalışan için kimlik türünü çalışana veren kurumu seçin. Örnek: Devlet
12. Kurumun, kimlik türünü çalışana verdiği tarihi girin. Örnek: 15/02/2011
13. Kimlik türünün tarihinin ne zaman dolduğunu girin. Örnek: 15/02/2021
14. Kaydet'e tıklayın.
15. Sayfayı kapatın.
16. İstihdam sekmesine tıklayın.
17. I-9'a tıklayın.
18. Yeni'ye tıklayın.
19. İşe uygunluk alanında, bir seçenek seçin.
    * Personel bir ABD vatandaşı veya ABD uyruklu değilse, çalışanın yabancı yerleşme veya kabul numarasını girin.  
20. GroupListA seçeneğini işaretleyin.
    * Seçtiğiniz liste çalışanın ne tür kimlik sağladığına bağlıdır. Bir çalışan bir Liste A belgesi veya Liste B ve C'den bir belge sağlamalıdır. Örneğin, çalışan bir pasaport sağlarsa, Liste A seçilebilir. Ancak, çalışan yalnızca sürücü belgesini ve sosyal güvenlik kartını sağladıysa, liste B ve C seçilmelidir.  
21. I-9 belge türü alanında, çalışanın sağladığı belge tipini seçin.
22. Belge numarası alanına bir değer girin veya buradan bir değer seçin.
23. Kaydet'e tıklayın.


