---
title: İstihdam doğrulama i9 doğrulama
description: Göçmenlik Reform ve Kontrol Yasası ABD'li işverenlerin yeni işe alınan personelin İstihdam edilmeye uygunluk durumunu doğrulamasını gereklidir.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.sourcegitcommit: 0f530e5f72a40f383868957a6b5cb0e446e4c795
ms.translationtype: HT
ms.contentlocale: tr-TR
ms.lasthandoff: 01/29/2019
ms.locfileid: "333335"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="40c2d-103">İstihdam doğrulama i9 doğrulama</span><span class="sxs-lookup"><span data-stu-id="40c2d-103">Employment verification i9 verification</span></span>

[!include [task guide banner](../../../includes/task-guide-banner.md)]

<span data-ttu-id="40c2d-104">Göçmenlik Reform ve Kontrol Yasası ABD'li işverenlerin yeni işe alınan personelin İstihdam edilmeye uygunluk durumunu doğrulamasını gereklidir.</span><span class="sxs-lookup"><span data-stu-id="40c2d-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="40c2d-105">Bu yordam, I-9 doğrulaması için gerekli olan belgeleri kaydetme adımlarını gösterecektir.</span><span class="sxs-lookup"><span data-stu-id="40c2d-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="40c2d-106">Bu yordam için USMF şirketini kullanın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="40c2d-107">İnsan kaynakları > Çalışanlar > Çalışanlar'a gidin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="40c2d-108">Kayıtları bulmak için Hızlı Filtre'yi kullanın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="40c2d-109">Örneğin, İsim alanı üzerinde 'Vince' değerini girerek filtreleme yapın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="40c2d-110">Çalışanı seçin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-110">Select the employee.</span></span> <span data-ttu-id="40c2d-111">Örnek: Vince Prado</span><span class="sxs-lookup"><span data-stu-id="40c2d-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="40c2d-112">Kişisel bilgiler Hızlı Sekmesini genişletin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="40c2d-113">Kimlik numaraları'na tıklayın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="40c2d-114">Yeni'yi tıklatın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-114">Click New.</span></span>
7. <span data-ttu-id="40c2d-115">Kaydettiğiniz kimlik tipini seçin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="40c2d-116">Örnek: Pasaport</span><span class="sxs-lookup"><span data-stu-id="40c2d-116">Example: Passport</span></span>
8. <span data-ttu-id="40c2d-117">Numara alanına bir değer girin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="40c2d-118">Birincil alanında 'Evet'i seçin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="40c2d-119">Açıklama alanına kimlik kaydının kısa bir açıklamasını girin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="40c2d-120">Veren kurumda, çalışan için kimlik türünü çalışana veren kurumu seçin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="40c2d-121">Örnek: Devlet</span><span class="sxs-lookup"><span data-stu-id="40c2d-121">Example: Government</span></span>
12. <span data-ttu-id="40c2d-122">Kurumun, kimlik türünü çalışana verdiği tarihi girin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="40c2d-123">Örnek: 15/02/2011</span><span class="sxs-lookup"><span data-stu-id="40c2d-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="40c2d-124">Kimlik türünün tarihinin ne zaman dolduğunu girin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="40c2d-125">Örnek: 15/02/2021</span><span class="sxs-lookup"><span data-stu-id="40c2d-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="40c2d-126">Kaydet'e tıklayın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-126">Click Save.</span></span>
15. <span data-ttu-id="40c2d-127">Sayfayı kapatın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-127">Close the page.</span></span>
16. <span data-ttu-id="40c2d-128">İstihdam sekmesine tıklayın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="40c2d-129">I-9'a tıklayın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-129">Click I-9.</span></span>
18. <span data-ttu-id="40c2d-130">Yeni'ye tıklayın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-130">Click New.</span></span>
19. <span data-ttu-id="40c2d-131">İşe uygunluk alanında, bir seçenek seçin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="40c2d-132">Personel bir ABD vatandaşı veya ABD uyruklu değilse, çalışanın yabancı yerleşme veya kabul numarasını girin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="40c2d-133">GroupListA seçeneğini işaretleyin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="40c2d-134">Seçtiğiniz liste çalışanın ne tür kimlik sağladığına bağlıdır.</span><span class="sxs-lookup"><span data-stu-id="40c2d-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="40c2d-135">Bir çalışan bir Liste A belgesi veya Liste B ve C'den bir belge sağlamalıdır. Örneğin, çalışan bir pasaport sağlarsa, Liste A seçilebilir.</span><span class="sxs-lookup"><span data-stu-id="40c2d-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="40c2d-136">Ancak, çalışan yalnızca sürücü belgesini ve sosyal güvenlik kartını sağladıysa, liste B ve C seçilmelidir.</span><span class="sxs-lookup"><span data-stu-id="40c2d-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="40c2d-137">I-9 belge türü alanında, çalışanın sağladığı belge tipini seçin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="40c2d-138">Belge numarası alanına bir değer girin veya buradan bir değer seçin.</span><span class="sxs-lookup"><span data-stu-id="40c2d-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="40c2d-139">Kaydet'e tıklayın.</span><span class="sxs-lookup"><span data-stu-id="40c2d-139">Click Save.</span></span>

